* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    min-height: 100vh;
}
#header {
    display:flex;
    padding: 20px 10px; 
    background-color: #333;
    color: white;
}
.logo {
    font-size: 20px;
    font-weight: bold;
}
#nav{
    margin-left: 30px;
}
#header #nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    float: left;
}

#header #nav a:hover {
    text-decoration: underline;
}
#main {
    display: flex;
    justify-content: space-around;
    padding:  40px;
    background-color: #8b8686;
    gap: 10px;
}
.box {
    height: 500px;
    width: 500px;
    font-size: larger;
    background-color: rgb(230, 219, 219);
    padding: 10px;
    text-align: center;
    border: 1px solid #2e2525;
    box-shadow: 2px 2px 8px rgba(10, 9, 9, 0.1);
    transition: transform 0.3s;
}
.box a{
    text-decoration: none;
    color: black;
    float: left;
    font-size: 30px;
}
.box a:hover{
    color: blueviolet ;
}
#footer {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 20px 10px; 
}

