body {
      font-family: Arial, sans-serif;
      padding: 20px;
      background-color: #f8f8f8;
    }

    table {
      width: 60%;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      background-color: rgb(244, 241, 241);
    }

    caption {
      caption-side: top;
      font-size: 1.5em;
      margin-bottom: 10px;
      font-weight: bold;
    }

    th, td {
      border: 1px solid #252020;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #5a705b;
      color: white;
    }
    tr:hover {
      background-color: #a0bbc0;
    }